@brem: 50rem;
.header {
  width: 750/@brem;
  height: 100/@brem;
  background: #fff;
  line-height: 100/@brem;
  text-align: center;
  font-size: 32/@brem;
  letter-spacing: 2/@brem;
}

.show {
  width: 750/@brem;
  background: #fff;
  margin:0 0 228.5/@brem 0;
  .show-header {
    width: 100%;
    background: #F1F1F1;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    div {
      width: 249/@brem;
      height: 100/@brem;
      float: left;
      text-align: center;
      line-height: 100/@brem;
      font-size: 32/@brem;
      color: #333;
      background: #F1F1F1;
    }
    div:nth-child(2) {
      border-left: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
      width: 247/@brem;
    }
  }
  .show-main {
    width: 750/@brem;
    background: #fff;
    ul {
      float: left;
      width: 248/@brem;
      li {
        width: 248/@brem;
        border-bottom: 1px solid #e5e5e5;
        height: 98/@brem;
        line-height: 98/@brem;
        text-align: center;
        font-size: 28/@brem;
        color: #333;
        letter-spacing: 1.75/@brem;
        -webkit-tap-highlight-color:rgba(0,0,0,0)
      }
      img {
        width: 44.9/@brem;
        height: 44.9/@brem;
        vertical-align: middle;
        display: none;
      }
    }
    ul:nth-child(2) {
      border-left: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5;
      width: 247/@brem;
    }
  }
}

.footer {
  width: 750/@brem;
  height: 228.5/@brem;
  line-height:228.5/@brem;
  background: #fff;
  text-align:center;
  position:fixed;
  left:0;
  bottom:0;
  button{
    width:525/@brem;
    height:115/@brem;
    background:#339EE2;
    box-shadow:0 15/@brem 15/@brem 0 rgba(50,158,226,0.25);
    border-radius: 5/@brem;
    font-size:14px;
    color:#fff;
    letter-spacing:2.75/@brem;
    outline:none;
    border:0;
  }
}
