@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/backstage\.less}line{font-family:\000032}}
.header {
  width: 15rem;
  height: 2rem;
  background: #fff;
  line-height: 2rem;
  text-align: center;
  font-size: 0.64rem;
  letter-spacing: 0.04rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/backstage\.less}line{font-family:\0000312}}
.show {
  width: 15rem;
  background: #fff;
  margin: 0 0 4.57rem 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/backstage\.less}line{font-family:\0000316}}
.show .show-header {
  width: 100%;
  background: #F1F1F1;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/backstage\.less}line{font-family:\0000321}}
.show .show-header div {
  width: 4.98rem;
  height: 2rem;
  float: left;
  text-align: center;
  line-height: 2rem;
  font-size: 0.64rem;
  color: #333;
  background: #F1F1F1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/backstage\.less}line{font-family:\0000331}}
.show .show-header div:nth-child(2) {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  width: 4.94rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/backstage\.less}line{font-family:\0000337}}
.show .show-main {
  width: 15rem;
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/backstage\.less}line{font-family:\0000340}}
.show .show-main ul {
  float: left;
  width: 4.96rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/backstage\.less}line{font-family:\0000343}}
.show .show-main ul li {
  width: 4.96rem;
  border-bottom: 1px solid #e5e5e5;
  height: 1.96rem;
  line-height: 1.96rem;
  text-align: center;
  font-size: 0.56rem;
  color: #333;
  letter-spacing: 0.035rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/backstage\.less}line{font-family:\0000354}}
.show .show-main ul img {
  width: 0.898rem;
  height: 0.898rem;
  vertical-align: middle;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/backstage\.less}line{font-family:\0000361}}
.show .show-main ul:nth-child(2) {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  width: 4.94rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/backstage\.less}line{font-family:\0000369}}
.footer {
  width: 15rem;
  height: 4.57rem;
  line-height: 4.57rem;
  background: #fff;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/backstage\.less}line{font-family:\0000378}}
.footer button {
  width: 10.5rem;
  height: 2.3rem;
  background: #339EE2;
  box-shadow: 0 0.3rem 0.3rem 0 rgba(50, 158, 226, 0.25);
  border-radius: 0.1rem;
  font-size: 0.88rem;
  color: #fff;
  letter-spacing: 0.055rem;
  outline: none;
  border: 0;
}
