@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\000032}}
.header {
  width: 15rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\000038}}
.header span {
  font-size: 0.64rem;
  color: #333;
  letter-spacing: 0.04rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\000039}}
.header .undown {
  width: 0.218rem;
  height: 0.4rem;
  position: absolute;
  left: 1.002rem;
  top: 0.8rem;
  display: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000310}}
.header img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000311}}
.header .next {
  width: 0.218rem;
  height: 0.4rem;
  display: block;
  position: absolute;
  right: 1.002rem;
  top: 0.8rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000312}}
.header .next img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000315}}
.banner {
  width: 13.4rem;
  padding: 0 0.8rem 1.78rem;
  background: #F1F1F1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000317}}
.banner .banner-top div {
  float: left;
  width: 1.88rem;
  height: 1.88rem;
  line-height: 1.88rem;
  text-align: center;
  font-size: 0.48rem;
  color: #8C8D8F;
  letter-spacing: 1.5px;
  margin: 0 0.04rem 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000318}}
.banner .banner-top div:last-child {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000320}}
.banner .banner-bottom {
  margin-left: -0.04rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000321}}
.banner .banner-bottom li {
  float: left;
  width: 1.88rem;
  height: 1.88rem;
  line-height: 1.88rem;
  text-align: center;
  font-size: 0.56rem;
  color: #666;
  margin: 0 0.04rem 0.04rem 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000322}}
.banner .banner-bottom li:nth-child(7n) {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000324}}
.banner .banner-bottom .ccc {
  background: #fff;
  color: #666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000325}}
.banner .banner-bottom .today {
  background: #339EE2;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000326}}
.banner .banner-bottom .ac {
  background: #339EE2;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000330}}
.footer {
  width: 15rem;
  height: 20rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000331}}
.footer table {
  width: 15rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000332}}
.footer table thead {
  height: 1.56rem;
  width: 15rem;
  border-top: 0.02rem solid #e5e5e5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000333}}
.footer table thead tr {
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000334}}
.footer table thead tr th {
  width: 4.96rem;
  height: 100%;
  font-size: 0.64rem;
  line-height: 1.56rem;
  text-align: center;
  color: #333;
  border: 1px solid #F1F1F1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000337}}
.footer table tbody {
  width: 15rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000338}}
.footer table tbody tr {
  width: 100%;
  height: 1.56rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000339}}
.footer table tbody tr td {
  height: 100%;
  width: 4.96rem;
  line-height: 1.56rem;
  text-align: center;
  font-size: 0.56rem;
  letter-spacing: 0.035rem;
  color: #333;
  border: 1px solid #F1F1F1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/index\.less}line{font-family:\0000340}}
.footer table tbody tr td img {
  width: 0.898rem;
  height: 0.898rem;
  vertical-align: middle;
}
