@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/login\.less}line{font-family:\000032}}
a {
  width: 100%;
  border-bottom: 0.02rem solid #e5e5e5;
  height: 1rem;
  display: block;
  line-height: 1rem;
  font-size: 0.28rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/stick\/css\/login\.less}line{font-family:\000033}}
a {
  width: 100%;
  border-bottom: 0.02rem solid #e5e5e5;
  height: 1rem;
  display: block;
  line-height: 1rem;
  font-size: 0.28rem;
}
